{% extends "template.html" %}
{% block content %}

<div class="container-fluid">
  
  <div class="jumbotron">
      <h2 class="display-4">Ooops...404!</h2>
  </div>
</div>

<!-- footer -->
{% endblock %}