{% extends "template.html" %}
{% block content %}
{{ pagedown.include_pagedown() }}

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">

      {% if mission=="Add" %}
      <div class="panel-title">{{ mission }}</div>
      <p> Form for adding new {{ _type }}.</p>
      {% elif mission=="Edit" %}
      <div class="panel-title">{{ mission }}</div>
      <p> Form for editting existing {{ _type }}.</p>
      {% endif %}

      <p>Or <a href="{{ url_for('manage')}} ">click here</a> to return to manage page.</p>


  <form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.levelname.label }}
    {% if form.levelname.errors %}
      {% for error in form.levelname.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.levelname(class="page-signin-form-control form-control", placeholder="Name or Title") }}
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {% if _type=="Sections" %}
      {{ form.paneltype.label }}<br>
      {{ form.paneltype(class="radio-inline") }}
      {% elif _type=="Subsections" %}
      {{ form.section_id.label }}<br>
      {{ form.section_id(class="radio-inline") }}
      {% elif _type=="Content" %}
      {{ form.subsection_id.label }}<br>
      {{ form.subsection_id(class="radio-inline") }}
      {% else %}
      Error??
      {% endif %}
    </fieldset>
  </div>

  <div class="form-group">
    {{ form.order.label }}
    {% if form.order.errors %}
      {% for error in form.order.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.order(class="form-control", placeholder="Order number. Leave blank to default to 'last',") }}
    </fieldset>
  </div>


  {% if _type=="Content" %}

  <div class="form-group">
    {{ form.picture_url.label }}
    {% if form.picture_url.errors %}
      {% for error in form.picture_url.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.picture_url(class="form-control", placeholder="URL for optional image") }}
    </fieldset>
  </div>


  <div class="form-group">
    {{ form.external_url.label }}
    {% if form.external_url.errors %}
      {% for error in form.external_url.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.external_url(class="form-control", placeholder="URL for optional external link") }}
    </fieldset>
  </div>


  <div class="form-group">
    {{ form.markdown.label }}
    {% if form.markdown.errors %}
      {% for error in form.markdown.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.markdown(class="form-control", rows=10, placeholder="Markdown content") }}
    </fieldset>
  </div>

  <div class="form-group">
    {{ form.featured.label }}
    {% if form.featured.errors %}
      {% for error in form.featured.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.featured(class="form-control", placeholder="Featured?") }}
    </fieldset>
  </div>


  {% endif %}



    {{ form.submit(class="btn btn-block btn-lg btn-primary m-t-3") }}
  </form>






      </div>
    </div>
  </div>
</div>

{% endblock %}