{% extends "template.html" %}
{% block content %}

{{ pagedown.include_pagedown() }}

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
     <div class="panel-title">Admin</div>
      <p> Form for editting admin details.</p>
      <p>Or <a href="{{ url_for('manage')}} ">click here</a> to return to manage page.</p>
    </div>
    <div class="panel-body">


  <form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.pagename.label }}
    {% if form.pagename.errors %}
      {% for error in form.pagename.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.pagename(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>

  <div class="form-group">
    {{ form.title.label }}
    {% if form.title.errors %}
      {% for error in form.title.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.title(class="form-control", rows=3, placeholder="Markdown content") }}
    </fieldset>
  </div>
  <div class="form-group">
    {{ form.above.label }}
    {% if form.above.errors %}
      {% for error in form.above.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.above(class="form-control", rows=3, placeholder="Markdown content") }}
    </fieldset>
  </div>
  <div class="form-group">
    {{ form.below.label }}
    {% if form.below.errors %}
      {% for error in form.below.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.below(class="form-control", rows=3, placeholder="Markdown content") }}
    </fieldset>
  </div>


  <div class="form-group">
    {{ form.logo.label }}
    {% if form.logo.errors %}
      {% for error in form.logo.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.logo(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>

  <div class="form-group">
    {{ form.favicon.label }}
    {% if form.favicon.errors %}
      {% for error in form.favicon.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.favicon(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>
  <div class="form-group">
    {{ form.tagline.label }}
    {% if form.tagline.errors %}
      {% for error in form.tagline.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.tagline(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>
  <div class="form-group">
    {{ form.theme.label }}
    {% if form.theme.errors %}
      {% for error in form.theme.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.theme(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
      <p class="error-messages">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <fieldset class="page-signin-form-group form-group form-group-lg">
      <div class="page-signin-icon text-muted"></div>
      {{ form.password(class="page-signin-form-control form-control") }}
    </fieldset>
  </div>




    {{ form.submit(class="btn btn-block btn-lg btn-primary m-t-3") }}
  </form>



    </div>
  </div>
</div>



{% endblock %}