{% extends "template.html" %}
{% block content %}

<div class="px-content">
  <!-- Post -->
  {% if content.paneltype=="Simple" %}
    {% for subsection in content.subsections %}
    <div id="{{ subsection.levelname.lower() }}">
      <span>&nbsp;</span>
    </div>
    <div class="panel page-blog-posts-item">
      <div class="panel-body p-b-0">
        {% for cont in subsection.content %}
        <h2 class="font-weight-bold text-default m-a-0">
          <a href="#{{ subsection.levelname.lower() }}">{{ subsection.levelname }}
          </a>
        </h2>
      </div>
      <div class="page-blog-posts-content panel-body">
        {{ markupify(cont.markdown)|safe }}
      </div>
        {% endfor %}
    </div>
    {% endfor %}
  {% endif %}

  {% if content.paneltype=="Article" %}
    {% for subsection in content.subsections %}
    <div id="{{ subsection.levelname.lower() }}">
      <span>&nbsp;</span>
    </div>
    <div class="panel page-blog-posts-item">
      <div class="panel-body p-b-0">
        {% for cont in subsection.content %}

        <h2 class="font-weight-bold text-default m-a-0">
          <a href="{{ content.levelname.lower()}}/{{ name_to_url(subsection.levelname) }}">
            {{ subsection.levelname }}
          </a>
        </h2>
        <i>On {{ cont.date }}</i>
      </div>
      <div class="page-blog-posts-content panel-body">
        {{ markupify(cont.levelname)|safe }}
      </div>
        {% endfor %}

    </div>
    {% endfor %}
  {% endif %}


  {% if content.paneltype=="Subpanel" %}
  {% for subsection in content.subsections %}
  <div id="{{ subsection.levelname.lower() }}">
    <span>&nbsp;</span>
  </div>
  
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">{{ subsection.levelname }}</div>
    </div>
    <div class="panel-body">

      {% for content_data in subsection.content %}
      <div class="widget-products-item col-xs-12 col-sm-6 col-xl-4">

        {% if len(content_data.external_url) > 4 %}
        <a href="{{ content_data.external_url }}" class="widget-products-image">
        {% else %}
        <a href="{{ content.levelname.lower()}}/{{ name_to_url(content_data.levelname) }}" class="widget-products-image">
        {% endif %}
          <img src="{{ content_data.picture_url }}" alt="">
          <span class="widget-products-overlay"></span>
        </a>

        {% if len(content_data.external_url) > 4 %}
        <a href="{{ content_data.external_url }}" class="widget-products-title">
        {% else %}
        <a href="{{ content.levelname.lower()}}/{{ name_to_url(content_data.levelname) }}" class="widget-products-title">
        {% endif %}

          {{ content_data.levelname }}
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
  {% endfor %}
  {% endif %}








</div>    
{% endblock %}