{% extends "template.html" %}
{% block content %}

<div class="px-content">
  <div id="{{ content.levelname.lower() }}">
    <span>&nbsp;</span>
  </div>
  <div class="panel page-blog-posts-item">
    <div class="panel-body p-b-0">

      <h2 class="font-weight-bold text-default m-a-0">
        {{ content.subsection.levelname }}
      </h2>
        <i>On {{ content.date }}</i>
    </div>
    <div class="page-blog-posts-content panel-body">
      {{ markupify(content.markdown)|safe }}
    </div>

  </div>
</div>    
{% endblock %}