{% extends "template.html" %}
{% block content %}

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">Delete</div>

      <p>Are you sure you want to delete the {{ _type }}, "{{ record.levelname }}"? </p>
      <p>Please <a href="delete?type={{ _type.lower() }}&id={{ _id }}&confirm=1">click here</a> to confirm.</p>
      <p>Or <a href="{{ url_for('manage')}} ">click here</a> to return to manage page.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}