{% extends "template.html" %}
{% block content %}

<div class="container-fluid">
  
  <div class="jumbotron">

<style>
.container{overflow:hidden; width:100 %;}
.cell{width:70%; float:right;}
#cell1{width:30%; float:left; vertical-align:middle;}
</style>

  <div class="container">
      <div class="cell" id="cell1">
        &nbsp;<p>&nbsp;<p>
        <img src="{{ master['logo'] }}"></img>
        </p></p>
      </div>
      <div class="cell" id="cell2">
        <h2 class="display-4">{{ master['title'] }}</h2>
      </div>
      <div class="cell" id="cell3">
        <p class="lead">
          {{ master['above'] }}
        </p>
        <hr class="m-y-md">
        <p>
          {{ master['below'] }}
        </p>
      </div>
  </div>

  </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Featured</div>
      </div>
      <div class="panel-body">


        <!-- TODO this URL treatment should work but cant test on the plane -->
        {% for feature in featured %}
        <div class="widget-products-item col-xs-12 col-sm-6 col-xl-4">

          {% if feature.external_url %}
          <a href="{{ feature.external_url }}" class="widget-products-image">
          {% else %}
          <a href="{{ feature.subsection.section.levelname.lower() }}/{{ name_to_url(feature.subsection.levelname) }}" class="widget-products-image"> 
          {% endif %}        
            <img src="{{ feature.picture_url }}" alt="">
            <span class="widget-products-overlay"></span>
          </a>
          {% if feature.external_url %}
          <a href="{{ feature.external_url }}" class="widget-products-title">
          {% else %}
          <a href="{{ feature.subsection.section.levelname.lower() }}/{{ name_to_url(feature.subsection.levelname) }}" class="widget-products-title"> 
          {% endif %}
          {% if feature.subsection.section.paneltype == "Article" %}
          {{ feature.subsection.levelname }}
          {% else %}
          {{ feature.levelname }}
          {% endif %}
          </a>

          {% if feature.date %}
          <div class="widget-products-footer text-muted">
            {{ feature.date }}
          </div>
          {% endif %}

        </div>
        {% endfor %}

      </div>
    </div>




  </div>
</div>

<!-- footer -->
{% endblock %}