{% extends "template.html" %}
{% block content %}
<!-- content -->

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">Please Login</div>
    </div>
    <form class="panel-body" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
          {% for error in form.username.errors %}
          <p class="error-messages">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </fieldset>

      <fieldset class="form-group">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          {% for error in form.password.errors %}
          <p class="error-messages">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </fieldset>
      <fieldset class="form-group">
        {{ form.submit(class="btn-primary") }}
      </fieldset>
    </form>
  </div>
</div>


{% endblock %}
