{% extends "template.html" %}
{% block content %}

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title"><a href="/admin">Manage</a></div>
    </div>
    <div class="panel-body">
      <a href="/admin">Manage Admin / Site</a>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">Sections</div>
    </div>
    <div class="panel-body">
      {% for section in sections %}
        <p>
        {{ section.levelname }} - {{ section.paneltype }} <a href="/delete?type=sections&id={{ section.id }}">Delete</a>
        |<a href="/edit?type=sections&id={{ section.id }}">Edit</a>

        </p>
      {% endfor %}
      <a href="/add?type=sections">Add new section</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">Subsections</div>
    </div>
    <div class="panel-body">
      {% for subsection in subsections %}

        <p>
        {{ subsection.section.levelname }} - {{ subsection.levelname }} - 
        <a href="/delete?type=subsections&id={{ subsection.id }}">Delete</a>
        |<a href="/edit?type=subsections&id={{ subsection.id }}">Edit</a>
        </p>


      {% endfor %}
      <a href="/add?type=subsections">Add new subsection</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">Content</div>
    </div>
    <div class="panel-body">

      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Section</th>
            <th>Subsection</th>
            <th>Name</th>
            <th>Order</th>
            <th>Markdown</th>
            <th>Featured</th>
            <th>Picture URL</th>
            <th>External URL</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
      {% for content in contents %}
          <tr>
            <td>{{ content.subsection.section.levelname }}</td>
            <td>{{ content.subsection.levelname }}</td>
            <td>{{ content.levelname }}</td>
            <td>{{ content.order }}</td>
            <td>{% if content.markdown %}{{ content.markdown[:100] }}...{% endif %}</td>
            <td>{% if content.featured %} Yes {% endif %}</td>
            <td>{% if content.picture_url %}<a href="{{ content.picture_url }}">link</a>{% endif %}</td>
            <td>{% if content.external_url %}<a href="{{ content.external_url }}">link</a>{% endif %}</td>
            <td>{{ content.date }}</td>
            <td><a href="/delete?type=content&id={{ content.id }}">Delete</a> | 
                <a href="/edit?type=content&id={{ content.id }}">Edit</a>
            </td>
          </tr>
      {% endfor %}

        </tbody>
      </table>

      <a href="/add?type=content">Add new content</a>
    </div>
  </div>
</div>


{% endblock %}