<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>{{ master['pagename'] }}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ master['favicon'] }}">

  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='assets/css/pixeladmin.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='assets/css/widgets.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='assets/css/themes/'+ master['theme'])  }}" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='assets/js/require.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/requirejs-config.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>


  <style>
    .page-blog-post-image.page-header {
      padding: 0;
      border: none;
      margin-bottom: 0;
    }

    .page-blog-post-image img {
      width: 100%;
    }

    .page-blog-post-content {
      font-size: 18px;
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
      line-height: 1.7;
      padding-bottom: 25px;
    }

    .page-blog-post-content img {
      max-width: 100%;
    }

    .page-blog-post-comments {
      margin-left: -15px;
      margin-right: -15px;
    }

    .page-blog-posts-item {
      padding-top: 10px;
    }

    .page-blog-posts-item .panel-body {
      padding-left: 30px;
      padding-right: 30px;
    }

    .page-blog-posts-content {
      font-size: 18px;
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
      line-height: 1.7;
    }

    .page-blog-posts-image {
      text-align: center;
      margin-top: 20px;
    }

    .page-blog-posts-image img {
      max-width: 100%;
    }

   .page-profile-v2-header.page-header {
      border: none;
      margin-bottom: 0;
      border-radius: 0;
    }

    .page-profile-v2-header .box {
      background: none !important;
    }

    .page-profile-v2-subheader {
      background: rgba(0, 0, 0, .02);
    }

    .page-profile-v2-avatar {
      max-width: 80px;
      border: 4px solid #fff;
      position: relative;
    }

    @media (min-width: 768px) {
      .page-profile-v2-avatar { margin-top: -70px; }
    }
  </style>
</head>
<body class="pace-done px-navbar-fixed"> 
  
  <nav class="navbar px-navbar">
    <!-- Header -->
    <div class="navbar-header">
      <a class="navbar-brand px-demo-brand" href="/">
        <span class="px-demo-logo bg-primary"><span class="px-demo-logo-1"></span><span class="px-demo-logo-2"></span><span class="px-demo-logo-3"></span><span class="px-demo-logo-4"></span><span class="px-demo-logo-5"></span><span class="px-demo-logo-6"></span><span class="px-demo-logo-7"></span><span class="px-demo-logo-8"></span><span class="px-demo-logo-9"></span></span>
      {{ master['pagename'] }}
      </a>
    </div>

    <!-- Navbar togglers -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-demo-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button>

    <div class="collapse navbar-collapse" id="px-demo-navbar-collapse">
      <ul class="nav navbar-nav">
        {% for sect in section %}
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ sect.levelname }}
          </a>
          <div class="dropdown-multi-column">
            <ul class="dropdown-menu dropdown-column col-md-4">
            {% for sbs in sect.subsections %}


              <li><a href="{{ url_for('content', link=sect.levelname.lower()) }}#{{ name_to_url(sbs.levelname.lower())}}">{{ sbs.levelname }}</a></li>
            {% endfor %}
            </ul>
          </div>            
        </li>
        {% endfor %}

      </ul>
    </div>
  </nav>

  
  <div class="px-content">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
  <div class='alert alert-{{ category }}' style='position: absolute; z-index: 100; width: 90%;'>
    <button type='button' class='close' data-dismiss='alert'>&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
{% endwith %}  

<script>
$(document).ready (function(){
   $(".alert").fadeTo(3000, 300).slideUp(300, function(){
      $(".alert").slideUp(300);
      });   
   });
</script>



  {% block content %}
  {% endblock %}
  </div> <!--<div class="px-content">-->

  <footer class="px-footer p-t-0">
    <div class="box m-a-0 bg-transparent">
      <div class="box-cell col-md-3 p-t-3">
        <h7 class="m-t-0 m-b-1 font-size-9">
        {{ master['tagline'] }}</h7>

      {% if current_user.is_authenticated %}
      | <a href="/manage" class="label label-success">Manage blog</a>
      {% endif %}

      </div>
    </div>
    <hr class="page-wide-block">
    <span class="text-muted">Copyright © 2018 Nick Jenkins. All rights reserved.</span>
  </footer>

</body>
</html>

